.linea{
    border: 0;
    height: 2px;
    background-color: orangered;
    width: 50%;
    margin: 10px 0;
}

/*---------------  CONTAINER PRODUCTO (CAROUSEL Y BREVE DESCRIPCION) --------------- */
.container-producto{
    margin: 4rem;
}

.titulo-producto{
    text-align: center;
}

.contenedor-de-contenedores{
    display: flex;
    /* padding: 3px; */
}

.carousel-slide{
    justify-items: center;
}

.container-carousel-prueba{
    /* height: 0.3rem; */
    width: 50%;
    margin: 2%;
}


/*--------------- BREVE DESCRIPCIÓN ---------------*/

.contenedor-breve-info{
    width: 50%;
    margin: 2%;
}

.titulo-breve-descripcion{
    margin-bottom: 30px;
}

.texto-breve-descripcion{
    margin-top: 20px;
}
.lista-enlaces{
    text-decoration: none;
    list-style: none;
    color: orangered;
    margin: 6px;
}

.enlaces{
    color: black;
    
    text-decoration: none;
    cursor: pointer;
}

.enlaces:hover{
    color: white;
    background-color: orangered;
    padding: 5px;
    border-radius: 15px;
}

/* --------------- SECCIONES (COBERTURA, FUNCIONES, ETC)* --------------- /

/*Este ya está puesto arriba*/
/* .contenedor-de-contenedores{
    display: flex;
    padding: 3px;
} */

.contenedor-de-contenedores-gris{
    display: flex;
    background-color: #dcdcdc;
    /* padding: 3px; */
}
.contenedor-texto{
   align-content: center;
}

.imagen-en-descripcion{
    width: 100%;
}


/*Títulos secciones*/
.contenedor-titulos{
    /* background-color: #dcdcdc; */
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.titulos-descripcion-productos{
    margin: 0;
    padding-top: 8px;
    padding-left: 10px;
    justify-items: center;
    /* color: white;
    background-color: #8c8c8c; */
}


.icono-naranja{
    color: orangered;
}


/*BOTONES DE CONSULTA DE MANUAL Y COBERTURA*/

.contenedor-botones{
    display: flex;
    justify-content: center;
}

.botones-consulta-cobertura-manual{
    background-color: orangered;
    color: grey;
    border: none;
    cursor: pointer;
    padding: 12px;
    margin: 15px;
    border-radius: 25px;
}

.enlaces-cobertura-manual{
    text-decoration: none;
    color: antiquewhite;
}

.enlaces-cobertura-manual:hover{
    text-decoration: none;
    color: black;
}

.iconos-cobertura-manual{
    color: white;
}
